@charset "UTF-8";
/* CSS Document */

#dashboard {
	width: 100%;
	height: 89%;
	background-color: #767676;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.task {
	width: 24%;
	height: 31.5%;
	background-color: white;
	border-radius: 20px;
	margin: 0.5%;
	position: relative;
}
.task-kolvo {
	padding: 2%;
	position: absolute;
	top: 0;
	left: 0;
	color: #037C2D;
	font-size: 250%;
}
.task-produced {
	padding: 5%;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #037C2D;
	font-size: 300%;
}
.task-balance {
	padding-right: 5%;
	padding-bottom: 2%;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #B26203;
	font-size: 400%;
}
.task-prodname {
	text-align: center;
	position: absolute;
	top: 25%;
	left: 0;
	width: 98%;
	height: 40%;
	color:#373737;
	font-size: 150%;
	background-color: #CECBCB;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1%;
}
.task-cooking-time {
	padding: 2%;
	position: absolute;
	top: 0;
	right: 0;
	color: #BB0505;
	font-size: 250%;
}
.task-begin {
	width: 100%;
	height: 35%;
	position: absolute;
	bottom: 0;
	background-color: #F9F2BE;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 170%;
	text-align: center;
	color: #F14E04;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}