@charset "UTF-8";

body {
  font-family: sans-serif;
  font-size: 12px;
  margin-left:0px
	}
#fon{
	
}
#menu {
	margin:0 auto;
	width:810px;
	background-color: gainsboro;
	}
#header_menu {
	width: 100%;
	height: 80px;
	padding-top: 10px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	text-align: center;
	color: #ffffff;
	font-size: 25px;
	font-weight: bold;
	vertical-align: central;
	background-color:gainsboro;
	
}
#menu_date {
	font-size: 20px;
	
}
.table_part{
	margin:0 auto;
	width:800px;
	background-color: white;
	}
td {
	height:50px;
}
.td_group{
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	vertical-align: central;
	background-color: gainsboro;
}

.td_name{
	width: 30%;
	text-align: left;
	font-size: 18px;
	vertical-align: central;
	border-bottom: 1px dotted #A5A5A5;
}

.td_comment{
	width:50%;
	text-align: left;
	font-size:16px;
	vertical-align:central;
	border-bottom: 1px dotted #A5A5A5;
}
.td_weight{
	text-align: center;
	font-size:16px;
	vertical-align:central;
	border-bottom: 1px dotted #A5A5A5;
}
.td_price{
	text-align: right;
	font-size:24px;
	vertical-align:central;
	border-bottom: 1px dotted #A5A5A5;
}
